@using HackathonDemo.Models
@model IEnumerable<HackathonDemo.Models.Product>

@{
    ViewBag.Title = "GetReturnProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
   

    img {
        height: 300px;
        max-width: 100%!important;
    }

    #slider > div {
        position: absolute;
    }
     
</style>
<div class="row">
    <div class="col-md-4">
                @foreach (var item in Model)
                {
                    <a style="position: center;height: 200px" href="@Url.Action("ViewProduct", "Product", item)"><h1 style="color: black">Deals of the day</h1></a>
                }
    </div>

    <div class="col-md-8" id="slider">
        
        
            <div>
               
                 <img src="http://images.asos-media.com/products/asos-knitted-swing-dress-with-zip-neck/8011669-1-blue?$XXL$&amp;wid=513&amp;fit=constrain" style="height: 300px; width: 100%"/>
            </div>
            <div>
                
                <img src="http://images.asos-media.com/products/boohoo-tab-side-lace-maxi-dress/8508300-1-peach?$XXL$&amp;wid=513&amp;fit=constrain" style="height: 300px; width: 100%"/>

            </div>
        
        
    </div>

</div>
@section scripts{
    <script>
        $("#slider > div:gt(0)").hide();
        $("#slider").height($("#slider > div > img").height());
        setInterval(function () {
            $('#slider > div:first')
                .fadeOut(500)
                .next()
                .fadeIn(500)
                .end()
                .appendTo('#slider');
        }, 3000);
    </script>
}



